
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">TECPRODES</h1>
    <p>Te ayudamos con tus proyectos, una empresa de alta calidad con valores y principios </p>
</div>

