@page
@model IndexModel
@{
    ViewData["title"] = "Home page";

}


<div class="col align-self-center">
    
        <div class="card-header text-center">TECPRODES: PROYECTOS Y SERVICIOS</div>
        <div class="card-body text-center">
            <h5 class="card-title">Crea tu proyecto con nosotros</h5>
            <p class="card-text">Te ayudamos a crear tus proyectos, proveemos servicios y profesionales de alta calidad</p>
        </div>
    
</div>



<footer>
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Visión</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Misión</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Acerca de nosotros</a></li>
    </ul>
    <p class="text-center text-muted">© 2022 Company, Inc</p>
</footer>
