@page
@model EmpresaTec.App.Sitioweb.App.Pages.CreateModelP
@{
}
<h1>Crear proyectos</h1>
<!--Formulario de creacion de un proyecto-->
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div> <!--cuando se equivocan poniendo el correo por ej-->
    
    <div class="form-group">
        <label asp-for="project.name" class="control-label"></label>
        <input asp-for="project.name" class="form-control" />
        <span asp-validation-for="project.name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="project.code" class="control-label"></label>
        <input asp-for="project.code" class="form-control"/>
        <span asp-validation-for="project.code" class="text-danger"></span>
    </div>

        <div class="form-group">
        <label asp-for="project.stimatedDate" class="control-label"></label>
        <input asp-for="project.stimatedDate" class="form-control"/>
        <span asp-validation-for="project.stimatedDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="project.cost" class="control-label"></label>
        <input asp-for="project.cost" class="form-control"/>
        <span asp-validation-for="project.cost" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="project.startDate" class="control-label"></label>
        <input asp-for="project.startDate" class="form-control"/>
        <span asp-validation-for="project.startDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="project.description" class="control-label"></label>
        <input asp-for="project.description" class="form-control"/>
        <span asp-validation-for="project.description" class="text-danger"></span>
    </div>

    <!--COMBOBOX-->
    <div class="form-group">
        <label asp-for="project.actualState.name" class="control-label"></label>
        <select asp-for="project.actualStateId" class="form-control">
            @foreach (var actualState in Model.actualStates)
            {
                <option value="@actualState.actualStateId">@actualState.name</option>       
            }
        </select>
        <span asp-validation-for="project.actualState.name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="project.services.name" class="control-label"></label>
        <select asp-for="project.servicesId" class="form-control">
            @foreach (var services in Model.services)
            {
                <option value="@services.servicesId">@services.name</option>       
            }
        </select>
        <span asp-validation-for="project.services.name" class="text-danger"></span>
    </div>


    <div class="form-group">
       <input type="submit" value="Crear" class="btn btn-primary" />
    </div>


</form>



